/* Custom CSS for the Django admin */
body {
    background-color: #f42312; /* Change background color */
}

.navbar {
    background-color: #00f0; /* Change navbar color */
}

.navbar-brand {
    font-weight: bold;
    color: #12ffff; /* Customize logo/brand text */
}

.navbar-nav .nav-link {
    color: #ffffff !important; /* Change link color in navbar */
}
